### Project: Analyzing Website Traffic Data

In [1]:
import pandas as pd
df = pd.read_csv('website_traffic_data.csv')
df

      Source  SessionDuration
0    Organic             8.15
1    Organic            17.28
2     Direct             8.62
3       Paid            17.95
4       Paid            27.04
..       ...              ...
95  Referral            24.42
96  Referral             6.52
97      Paid             3.81
98    Direct            13.50
99      Paid            13.28

[100 rows x 2 columns]

In [2]:
grouped_data = df.groupby('Source')
average_durations = grouped_data['SessionDuration'].mean()
average_durations

Source
Direct      15.151364
Organic     16.472609
Paid        12.542083
Referral    14.485333
Social      17.070625
Name: SessionDuration, dtype: float64

### Time Series Data Manipulation in Pandas

In [3]:
import pandas as pd

# Sample DataFrame
data = {
    'OrderID': [1001, 1002, 1003, 1004],
    'OrderDate': ['2023-11-01', '2023-11-02', '2023-11-03', '2023-11-04'],
    'Sales': [250, 400, 150, 300]
}
df = pd.DataFrame(data)

In [4]:
df

   OrderID   OrderDate  Sales
0     1001  2023-11-01    250
1     1002  2023-11-02    400
2     1003  2023-11-03    150
3     1004  2023-11-04    300

In [5]:
df.dtypes

OrderID       int64
OrderDate    object
Sales         int64
dtype: object

In [7]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

In [8]:
df.dtypes

OrderID               int64
OrderDate    datetime64[ns]
Sales                 int64
dtype: object

In [9]:
df.set_index('OrderDate', inplace=True)
df

            OrderID  Sales
OrderDate
2023-11-01     1001    250
2023-11-02     1002    400
2023-11-03     1003    150
2023-11-04     1004    300

In [10]:
df['Year'] = df.index.year
df['Month'] = df.index.month
df['Day'] = df.index.day
df

            OrderID  Sales  Year  Month  Day
OrderDate
2023-11-01     1001    250  2023     11    1
2023-11-02     1002    400  2023     11    2
2023-11-03     1003    150  2023     11    3
2023-11-04     1004    300  2023     11    4

In [11]:
weekly_sales = df['Sales'].resample('W').sum()
weekly_sales

OrderDate
2023-11-05    1100
Freq: W-SUN, Name: Sales, dtype: int64

In [13]:
# df = pd.read_csv('website_traffic_data_datetime.csv')
# df

In [14]:
# df['Date'] = pd.to_datetime(df['Date'])

In [15]:
# df.set_index('Date', inplace=True)

In [ ]:
# monthly_visits = df['Visits'].resample('ME').sum()
# monthly_visits